h1{
    color: #F00;
    font-size: 32px ;
    font-family: Verdana, Calibri, sans-serif;
    }
h2{
    color: #A00;
    font-size: 24px;
    font-family: Verdana, Calibri, sans-serif;
}
    body{
        background-color: #CFC;
        color: #00F;
        font-family: Georgia, Cambria, serif;
        font-size: 16px;
    }
    span {
        color: #060;
        }
        
        strong {
        font-size: 20px;
        font-style: bold;
        }
        
        em {
        color: #FFF; 
        background-color: #000;
        font-style: italic;
        }

